<div class="main-block">
    <div class="central-block">
        <%= form_for(:session, :html => {class: "login-form{", role: "form"}, url: login_path) do |f| %>
           
            <div class="form-group">
                <div class="label">
                    <%= f.label :email %>
                </div>
                <%= f.text_field :email, class: "form-control", placeholder: "Enter email", autofocus: true %>
            </div>

            <div class="form-group">
                <div class="label">
                    <%= f.label :password %>
                </div>
                <%= f.password_field :password, class: "form-control", placeholder: "Enter password", autocomplete: "off" %>
            </div>  

            <div class="form-group">
                <%= f.submit "Log in", class: 'login-button' %>
            </div>
         <% end %>
    </div>
</div>  

