<div class="main-block">
    <div class="central-block">
        <%= form_for(:session, :html => {class: "form", role: "form"}, url: login_path) do |f| %>
           
            <div class="form-group">
                <div class="label">
                    <%= f.label :email %>
                </div>
                <%= f.text_field :email, class: "form-control", placeholder: "Enter email", autofocus: true %>
            </div>

            <div class="form-group">
                <div class="label">
                    <%= f.label :password %>
                </div>
                <%= f.password_field :password, class: "form-control", placeholder: "Enter password", autocomplete: "off" %>
            </div>  

            <%= f.submit "Log in", class: 'button' %>

            <h3 class="info">Don't have a profile?<h3>
                <li><%= link_to "Sign up!", new_user_path, class: "nav-link" %></li>
         <% end %>
    </div>
</div>  

