<div class="article-main-block">
    <div class="central-block">
        <%= form_for(@article, :html => {class: "create-form", role: "form"}) do |form| %>
          
            <div class="form-group">
                <div class="label">
                    <%= form.label :title %>
                </div>
                <%= form.text_field :title, class: "form-control", placeholder: "Enter title of the article", autofocus: true %>
            </div>

            <div class="form-group">
                <div class="label">
                    <%= form.label :text %>
                </div>
                <%= form.text_area :text, rows: 10, class: "form-control", placeholder: "Enter text of the article" %>
            </div>  
            <%= form.submit(@article.new_record? ? "Create" : "Save changes", class: 'create-button') %>

        <% end %>
    </div>
</div>  
