<h1 align="center" class="page-title">Users</h1>
<div class="container">
    <div class="row display-flex">
        <% @users.each do |user| %>
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">

            <%= link_to user_path(user), class: "user-link" do %>    
                <div class="user-title card-header">
                    <%= gravatar_for(user, size: 30)%>
                    <%= user.username %>
                </div>
                <div class="user-body card-body">
                    <%= pluralize(user.articles.count, "article") if user.articles %>
                </div>
                <%= link_to "See Profile", user_path(user), class: "btn btn-primary" %>
            <% end %>

            </div>
        <% end %>
    </div>
</div>
<%= will_paginate %>



               


